{% extends 'base.html' %}
{% load i18n %}

{% block content %}
 <section>
    <v-card elevation="0" rounded="lg" class="common-card">
      <h1>[[ '{{ request.path }}' === '/imapsync/mail/add/' ? '{% trans 'Add' %}' : '{% trans 'Edit' %}' ]] {% trans 'mail' %}</h1>
      <form class="sheet-data__fields__column" method="POST">
          {% csrf_token %}
          <div class="common-input__wrapper">
              <label> {{form.source_server.label}}</label>
              {{ form.source_server }}
          </div>
          {{form.source_server.errors}}
          <div class="common-input__wrapper">
              <label>{{form.source_user.label}}</label>
              {{form.source_user}}
          </div>
          {{form.source_user.errors}}

          <div class="common-input__wrapper">
              <label>{{form.source_password.label}}</label>
              {{form.source_password}}
          </div>
          {{form.source_password.errors}}

          <div class="common-input__wrapper">
              <label>{{form.source_ssl.label}}</label>
               {{form.source_ssl}}
          </div>
          {{form.source_ssl.errors}}

          <div class="common-input__wrapper">
              <label>{{form.target_server.label}}</label>
               {{form.target_server}}
          </div>
          {{form.target_server.errors}}

          <div class="common-input__wrapper">
            <label>{{form.target_user.label}}</label>
             {{form.target_user}}
        </div>
        {{form.target_user.errors}}

          <div class="common-input__wrapper">
            <label>{{form.target_password.label}}</label>
            {{form.target_password}}
        </div>
        {{form.target_password.errors}}

          <div class="common-input__wrapper">
            <label>{{form.target_ssl.label}}</label>
            {{form.target_ssl}}
        </div>
        {{form.target_ssl.errors}}

          <div class="sheet-data__btns-row">
            <v-btn color="blue-accent-3" elevation="0" class="align-self-end" type="submit" @click="addScript">
                    [[ '{{ request.path }}' === '/imapsync/mail/add/' ? '{% trans 'Add' %}' : '{% trans 'Edit' %}' ]]
            </v-btn>
          </div>
          {{form.non_field.errors}}
      </form>
    </v-card>
  </section>
{% endblock %}
{% block mounted %}
    document.getElementById('id_campaign_name').value = '{{ keitaro_campaign_name }}'
{% endblock %}
