{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" href="/templates/vendors/iziToast/iziToast.css">
{% endblock %}
{% block content %}
    <section>
    <v-card elevation="0" rounded="lg" class="sheet-view__card">
      <h1 class="ma-6">{% trans 'Mail details' %}</h1>
      <v-table class="sheet-view">
        <tbody>
          <tr
            v-for="row in tableData"
            :key="row.id"
          >
            <td class="sheet-view__td">[[ row.title ]]</td>
            <template v-if="row.title !== '{% trans 'Script' %}'">

                <td v-if="row.title === '{% trans 'Keywords' %}'" class="sheet-view__td">{{ mail.keywords }}</td>
                <td v-else class="sheet-view__td">[[ row.value ]]</td>
            </template>
          </tr>
        </tbody>
      </v-table>
      <div class="sheet-data__btns-row pa-6">
          <v-btn color="blue-accent-3" elevation="0" class="" tag="a" href="{% url 'imapsync_mail_edit' mail.id %}">
          {% trans 'Edit' %}
        </v-btn>
          <v-btn color="blue-accent-3" elevation="0" class="" tag="a" href="{% url 'imapsync_mail_start_sync' mail.id %}">
          {% trans 'Start sync' %}
        </v-btn>
          <v-btn color="blue-accent-3" elevation="0" class="" tag="a" href="{% url 'imapsync_mail_view_log' mail.id %}">
          {% trans 'View logs' %}
        </v-btn>
      </div>
    </v-card>
    <v-snackbar
            v-model="showSnackbar"
            multi-line
            location="top right"
            class="snackbar"
            variant="flat"
            color="success"
            width="280px"
            min-width="280px"
            max-width="280px"
    >
        <div class="d-flex flex-row align-items-center" style="justify-content: space-between;">
            <v-icon icon="mdi-check-circle" class="my-auto mr-3" style="font-size: 30px"></v-icon>
            <p class="my-auto">{% trans 'Script copied' %}</p>
            <v-btn
                    elevation="0"
                    icon="mdi-close"
                    color="transparent"
                    class="my-auto"
                    @click="showSnackbar = false"
            ></v-btn>
        </div>
    </v-snackbar>
  </section>
{% endblock %}
{% block data %}
    showSnackbar: false,
    tableData:[
    {
          id: 0,
          title: '{% trans 'User' %}',
          value: '{{ mail.user }}'
        },
        {
          id: 1,
          title: '{% trans 'source_server' %}',
          value: `{{ mail.source_server }}`
        },
        {
          id: 2,
          title: '{% trans 'source_user' %}',
          value: '{{ mail.source_user }}'
        },
        {
          id: 3,
          title: '{% trans 'source_password' %}',
          value: '{{ mail.source_password }}'
        },
        {
          id: 4,
          title: '{% trans 'source_ssl' %}',
          value: '{{ mail.source_ssl }}'
        },
        {
          id: 5,
          title: '{% trans 'target_server' %}',
          value: '{{ mail.target_server }}'
        },
        {
          id: 6,
          title: '{% trans 'target_user' %}',
          value: '{{ mail.target_user }}'
        },
        {
          id: 7,
          title: '{% trans 'target_password' %}',
          value: '{{ mail.target_password }}'
        },
        {
          id: 8,
          title: '{% trans 'target_ssl' %}',
          value: '{{ mail.target_ssl }}'
        },
        {
          id: 9,
          title: '{% trans 'Status' %}',
          value: '{{ mail.status }}'
        },
    ],
{% endblock %}
{% block methods %}
{% endblock %}
