{% extends 'base.html' %}
{% load i18n %}

{% block content %}
 <section>
    <v-card elevation="0" rounded="lg" class="common-card">
      <h1>{% trans 'Add' %} {% trans 'mail' %}</h1>
      <form class="sheet-data__fields__column" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="common-input__wrapper">
              <label> {{form.source_server.label}}</label>
              {{ form.source_server }}
          </div>
          {{form.source_server.errors}}

          <div class="common-input__wrapper">
              <label>{{form.source_ssl.label}}</label>
               {{form.source_ssl}}
          </div>
          {{form.source_ssl.errors}}

          <div class="common-input__wrapper">
              <label>{{form.target_server.label}}</label>
               {{form.target_server}}
          </div>
          {{form.target_server.errors}}

          <div class="common-input__wrapper">
            <label>{{form.target_ssl.label}}</label>
            {{form.target_ssl}}
        </div>
        {{form.target_ssl.errors}}

        <div class="common-input__wrapper">
          <label>{{form.file.label}}</label>
          {{form.file}}
      </div>
      {{form.file.errors}}

Пример заполнения файла: <br>
user1 password1 user2 password2 <br>
user3 password3 user4 password4 <br>
будут синхронизированы user1-user2 и user3-user4

          <div class="sheet-data__btns-row">
            <v-btn color="blue-accent-3" elevation="0" class="align-self-end" type="submit" @click="addScript">
                    {% trans 'Add' %}
            </v-btn>
          </div>
          {{form.non_field.errors}}
      </form>
    </v-card>
  </section>
{% endblock %}
{% block mounted %}
    document.getElementById('id_campaign_name').value = '{{ keitaro_campaign_name }}'
{% endblock %}
