{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" href="/template/css/toasty.css">
{% endblock %}
{% block content %}
    <section>
    <v-card elevation="0" rounded="lg" class="common-card">
      <div class="d-flex flex-row justify-space-between">
        <h1>{% trans 'Mails' %}</h1>
        <v-btn
                tag="a"
                href="{% url 'imapsync_mail_mass_sync' %}"
                color="blue-accent-3"
                 class="common-btn"
                 style="margin-left: auto; margin-right: 10px;"
                elevation="0">
            {% trans 'Запустить массовую синхронизацию' %}
        </v-btn>
        <v-btn
                tag="a"
                href="{% url 'imapsync_mail_add_file' %}"
                color="blue-accent-3"
                 class="common-btn"
                 style="margin-right: 10px;"
                elevation="0">
            {% trans 'Добавить файлом' %}
        </v-btn>
        <v-btn
                tag="a"
                href="{% url 'imapsync_mail_add' %}"
                color="blue-accent-3"
                 class="common-btn"
                elevation="0">
            {% trans 'Добавить' %}
        </v-btn>
      </div>
      <v-table class="mt-6">
        <thead>
        <tr>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'id' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'source_server' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'source_user' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'source_ssl' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'target_server' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'target_user' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'target_ssl' %}</th>
          <th class="sheet-detail__th_syncronized text-center">{% trans 'status' %}</th>
          <th class="sheet-detail__th_actions text-center">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
         {% for mail in object_list %}
        <tr>
          <td>{{ mail.id }}</td>
          <td>{{ mail.source_server }}</td>
          <td>{{ mail.source_user }}</td>
          <td>{{ mail.source_ssl }}</td>
          <td>{{ mail.target_server }}</td>
          <td>{{ mail.target_user }}</td>
          <td>{{ mail.target_ssl }}</td>
          <td>{{ mail.status }}</td>
          <td style="height: 100%">
            <div class="icons-cell">
              <div class="d-flex justify-center" id="script_copy_{{ mail.id }}">
                  <input class="d-none" id="id_url{{mail.id}}" value="{{ mail.url }}">
                  <input class="d-none" id="id_account_name{{mail.id}}" value="{{ mail.account_name }}">
                  <input class="d-none" id="id_geo{{mail.id}}" value="{{ mail.geo }}">
                  <input class="d-none" id="id_keywords{{mail.keywords}}" value="{{ mail.keywords }}">
                  <input class="d-none" id="id_buyer{{mail.id}}" value="{{ mail.user.buyer }}">
                </div>

                <v-tooltip text="{% trans 'Start Sync' %}" location="bottom">
                  <template v-slot:activator="{ props }">
                    <v-btn
                      icon="mdi-file-code-outline"
                      elevation="0"
                      v-bind="props"
                      class="p-0 table-icon"
                      :ripple="false"
                      type="a"
                      href="{% url 'imapsync_mail_start_sync' mail.id %}"
                      >
                    </v-btn>
                  </template>
                </v-tooltip>
                <v-tooltip text="{% trans 'View logs' %}" location="bottom">
                  <template v-slot:activator="{ props }">
                    <v-btn
                      icon="mdi-math-log"
                      elevation="0"
                      v-bind="props"
                      class="p-0 table-icon"
                      :ripple="false"
                      type="a"
                      href="{% url 'imapsync_mail_view_log' mail.id %}"
                      >
                    </v-btn>
                  </template>
                </v-tooltip>
              <v-tooltip text="{% trans 'Details' %}" location="bottom">
                <template v-slot:activator="{ props }">
                  <v-btn
                    icon="mdi-eye"
                    elevation="0"
                    v-bind="props"
                    class="p-0 table-icon"
                    :ripple="false"
                    tag="a"
                    href="{% url 'imapsync_mail_view' mail.id %}"
                  >
                  </v-btn>
                </template>
              </v-tooltip>
              <v-tooltip text="{% trans 'Edit' %}" location="bottom">
                <template v-slot:activator="{ props }">
                  <v-btn
                    icon="mdi-lead-pencil"
                    elevation="0"
                    v-bind="props"
                    class="p-0 table-icon"
                    :ripple="false"
                    tag="a"
                    href="{% url 'imapsync_mail_edit' mail.id %}"
                  >
                  </v-btn>
                </template>
              </v-tooltip>
                  <v-tooltip text="{% trans 'Remove' %}" location="bottom">
                      <template v-slot:activator="{ props }">
                    <v-btn
                      icon="mdi-trash-can-outline"
                      elevation="0"
                      v-bind="props"
                      class="p-0 table-icon trash-icon"
                      :ripple="false"
                      @click="removeRow = {{ mail.id }}"
                    >
                      <v-icon>mdi-trash-can-outline</v-icon>
                      <v-dialog
                        width="auto"
                        activator="parent"
                      >
                        <template v-slot:default="{ isActive }">
                        <v-card class="common-popup common-card" elevation="0" rounded="lg">
                          <h3>
                           {% trans 'Confirm action' %}
                          </h3>
                          <p class="mt-2">
                            {% trans 'Are you sure you want to remove the script and its data from the table?' %}
                          </p>
                          <div class="common-popup__bts-row">
                              <form :action="'/imapsync/mail/delete/'+ removeRow +'/'" method="POST" id="deleteForm{{mail.id}}">
                                  {% csrf_token %}
                                  <v-btn
                                          color="blue-accent-3"
                                          @click="isActive.value = false"
                                          elevation="0"
                                          type="submit"
                                  >
                                      {% trans 'Yes' %}
                                  </v-btn>
                              </form>
                            <v-btn
                              color="red-accent-3"
                              elevation="0"
                              @click="isActive.value = false"
                            >
                               {% trans 'No' %}
                            </v-btn>
                          </div>
                        </v-card>
                        </template>
                      </v-dialog>
                    </v-btn>
                  </template>
                </v-tooltip>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </v-table>
      {% with page_obj=page_obj request=request %}
      {% include 'paginator.html' %}
  {% endwith %}
    </v-card>
    <v-snackbar
            v-model="showSnackbar"
            multi-line
            location="top right"
            class="snackbar"
            variant="flat"
            color="success"
            width="280px"
            min-width="280px"
            max-width="280px"
    >
        <div class="d-flex flex-row align-items-center" style="justify-content: space-between;">
            <v-icon icon="mdi-check-circle" class="my-auto mr-3" style="font-size: 30px"></v-icon>
            <p class="my-auto">{% trans 'Script copied' %}</p>
            <v-btn
                    elevation="0"
                    icon="mdi-close"
                    color="transparent"
                    class="my-auto"
                    @click="showSnackbar = false"
            ></v-btn>
        </div>
    </v-snackbar>
  </section>
{% endblock %}
{% block data %}
    detailsModal: false,
    removeRow: -1,
    showSnackbar: false,
{% endblock %}
{% block methods %}
    scriptCopy (id) {
        this.showSnackbar = true
        let scriptCopy = document.getElementById(id).value
        navigator.clipboard.writeText(scriptCopy)
    }
{% endblock %}
