.box {

}
#sparkline1{
  opacity: 50%;
}
.dashboard__metric-card{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15) !important;
  overflow: hidden !important;
}
.dashboard__metric-cards{
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.dashboard__metric-card .v-table{
  border: none !important;
}
.dashboard__metric-card {
  border: none !important;
}
.apexcharts-legend-text{
  font-size: 16px !important;
  margin-left: -10px !important;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.apexcharts-legend-series{
  display: flex !important;
  flex-direction: row;
  padding: 4px 12px;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 16px;
}
.apexcharts-legend-text::after{
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Eeye-outline%3C/title%3E%3Cpath d='M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z' /%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-left: 8px;
  margin-top: 1px;
}
.campaigns-table td{
  height: 40px !important;
    padding: 0 16px;
}
.campaigns-table th{
  height: 40px !important;
    padding: 0 16px;
}
.campaigns-table td:first-child{
  width: 100%;
}
.campaigns-table td:nth-child(2){
  width: 70px;
}
.campaigns-table td:last-child{
  width: 70px;
}
.last-clicks th:first-child{
  width: 500px;
}
.last-clicks th:last-child{
  width: 100px;
}
.dashboard__metric-card-table td{
  padding: 6px 12px !important;
  height: 30px !important;
}
#chartMain table,
#chartMain th,
#chartMain td {
    border: none !important;
}
#chartMain{
  width: 100%;
  height: 380px;
}
#miniClicks, #miniConversions{
  width: 100%;
  height: 135px;
}
#miniClicks table,
#miniClicks tr,
#miniClicks td,
#miniConversions table,
#miniConversions tr,
#miniConversions td
{
  border: none !important;
}