* {
    box-sizing: border-box;
}
.v-card{
    overflow-y: scroll;
}
table .resizable {
    border-collapse: collapse;
    overflow: scroll;
    border-radius: 8px;
}
.table-wrapper{
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    overflow: scroll;
    background: rgb(34,193,195);
    background: linear-gradient(
            180deg,
            #EEEEEE 0%,
            #EEEEEE 40px,
            rgba(0, 0, 0, 0.12) 40.01px,
            rgba(0, 0, 0, 0.12) 40.6px,
            rgba(255,255,555,1) 40.61px,
            rgba(255,255,555,1) 100%
    );
}
.resizable td {
    text-align: left;
    height: 40px !important;
    padding: 0 16px;
    white-space: nowrap;
    max-width: 190px;
}
.resizable thead tr{
    background-color: #EEEEEE;
}
.resizable th {
    height: 40px !important;
    padding: 0 16px;
    white-space: nowrap;
    text-align: left;
    background-color: #EEEEEE;
    color: #00000099;
    font-weight: normal;
    border-bottom: none !important;
}

.resizable table,
.resizable th,
.resizable td {
    border: 1px solid #000;
}
.filters-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.table-cell__content{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.table_item-row{
     border-bottom: 1px solid #EEEEEE;
}
.table_item-row:last-of-type {
     border-bottom: none !important;
}
.table-wrapper-big{
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    overflow: scroll;
    background: rgb(34,193,195);
    background: linear-gradient(
            180deg,
            #EEEEEE 0%,
            #EEEEEE 56.5px,
            rgba(0, 0, 0, 0.12) 56.51px,
            rgba(0, 0, 0, 0.12) 57.1px,
            rgba(255,255,555,1) 57.11px,
            rgba(255,255,555,1) 100%
    );
}

.table-wrapper-big th:nth-child(1),
.table-wrapper-big th:nth-child(2) {
    padding: 0 8px !important;
}
.table-wrapper-big td:nth-child(1),
.table-wrapper-big td:nth-child(2) {
    padding: 0 8px !important;
}
.table-wrapper-common td:nth-child(1),
.table-wrapper-common td:nth-child(2) {
    padding: 0 8px !important;
}