.landings-table th{
  height: 40px !important;
    padding: 0 16px;
}
.landings-table td:first-child{
  width: 40px;
}
.landings-table td:nth-child(2){
  width: 40px;
}
.landings-table th:first-child{
  width: 40px;
}
.landings-table th:nth-child(2){
  width: 40px;
}
/*.landings-table td:nth-child(6){*/
/*  width: 100%;*/
/*}*/