td{
    padding: 0 !important;
}
th{
}
th:nth-child(1){
  width: 50px;
}
th:nth-child(2){
  width: 115px;
}
th:nth-child(4){
  width: 190px;
}
th:last-child{
  border-top-right-radius: 8px;
}
.level-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.text-0{
    color: #222b45 !important;

}
.text-10{
    color: #2979FF !important;

}
.text-20{
    color: #4CAF50 !important;

}
.text-30{
    color: #FB8C00 !important;

}
.text-40{
    color: #FF1744 !important;

}
.text-50{
    color: white !important;
    background: #FF1744 !important;

}
.logs__from{
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logs__from__selects {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.logs__select_level{
  width: 180px;
  max-width: 180px;
}
.logs__select_source{
  width: 500px;
  max-width: 500px;
}
p{
    line-height: 20px;
}