body {
  background-color: rgba(24, 103, 192, 0.05) !important;
}
.btn-filter{
  height: 40px !important;
  width: 40px !important;
  border-radius: 0.25rem !important;
}
.common-card{
  box-shadow: 60px 40px 120px 0 rgb(0 0 0 / 5%), 30px 20px 60px 0 rgb(0 0 0 / 5%), -25px 0 30px 0 rgb(0 0 0 / 2%) !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 24px !important;
}
.table-icon{
  width: fit-content !important;
}
section{
  padding: 32px 32px 100px 32px!important;
  background-color: rgba(24, 103, 192, 0.05) !important;
}
.v-field__outline__start{
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.v-field__outline__end{
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background: #FF1744 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  background: #FB8C00 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #4CAF50 !important;
}
.home__section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.home__list{
  height: fit-content;
  width: 48%;
  padding: 0px !important;
  margin: 1%;

}
.home__list__header {
  background-color: #2979FF !important;
  color: #EEEEEE !important;
  cursor: default;
}
.home__list__header .v-list-item__prepend > .v-icon{
  opacity: 1 !important;
}
.v-list-item__default:hover{
  color: #2979FF !important;
}
.v-table, th, td{
  border: 0.2px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
}
th:first-child{
  border-top-left-radius: 8px
}
th:last-child{
  border-top-right-radius: 8px;
}
.table-icon:hover{
  color: #2979FF !important;
}
.v-btn:hover > .v-btn__overlay {
  opacity: 0 !important;
}
.user-list__td_actions{
  width: 100px;
}
.sheet-data__btns-row{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 16px;
}

.sheet-detail__th_account{
  width: 110px;
}
.sheet-detail__th_geo{
  width: 80px;
}
.sheet-detail__th_syncronized{
  width: 172px;
}
.sheet-detail__th_actions{
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}
.icons-cell{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.v-chip{
  box-shadow: 0px 1px 8px -3px rgb(34 60 80 / 20%) !important;
}
.trash-icon{
  padding: 0px !important;
  width: 20px !important;
  max-width: 20px !important;
}
.common-popup{
  width: 500px;
}
.common-popup__bts-row{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 8px;
  gap: 8px;
}
.sheet-data__fields__column{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 16px
}
.sheet-data__fields__row{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 16px;
}
.sheet-data__fields__field{
  width: 50%;
}
.v-selection-control__wrapper{
  height: 20px;
  width: 20px;
}
.v-selection-control__input{
  height: 20px;
  width: 20px;
}
.v-label--clickable {
  margin-left: 16px !important;
}
.sheet-data__spoiler{
  color: white;
  background-color: #FB8C00;
}
.sheet-view__card{
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 60px 40px 120px 0 rgb(0 0 0 / 5%), 30px 20px 60px 0 rgb(0 0 0 / 5%), -25px 0 30px 0 rgb(0 0 0 / 2%) !important;
}
.sheet-view__td{
  padding-left: 24px !important;
}
.sheet-view__td:first-child{
  width: 30%;
  border-left: 0 !important;
  border-right: 0 !important;
}
.sheet-view__td:last-child{
  border-left: 0.2px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 0 !important;
}
.sheet-view {
  border-top: 0.2px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 0;
  border-left: 0 !important;
  border-right: 0 !important;
}
.sheet-view__script-field{
    width: 100%;
}
.currency-rate-form{
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  gap: 16px;
}
table, th, td{
  border: 0.2px solid rgba(0, 0, 0, 0.12) !important;
  border-collapse: collapse !important;
}
.currency-rates-th{
  border-top-left-radius: 8px;
  max-width: 180px;
  width: 180px;
}
th:last-child{
  border-top-right-radius: 8px;
}
.table-icon:hover{
  color: #2979FF !important;
}
.select-counter{
  background-color: #2979FF !important;
  color: white;
  font-weight: bold;
}
.select-counter .v-chip.v-chip--size-default{
  --v-chip-height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 4px;
}
.currency-rates__date-input{
  width: 180px;
  max-width: 180px;
}
#id_currency{
  display: flex;
}
.currency-select .v-field__input{
  padding: 5px;
}
.my-paginator{
  list-style-type: none !important;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.my-paginator__page-item {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.my-paginator__page-item a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #2979FF;
}
.my-paginator__page-item p{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #2979FF;
}
.my-paginator__page-item.disabled a{
  color: gray !important;
}
.my-paginator__page-item.disabled p{
  color: #2979FF;
  opacity: 0.5;
}
.my-paginator__page-item.active{
  background-color: rgba(41, 121, 255, 0.12);
}
.my-paginator__page-item:hover{
  background-color: rgba(41, 121, 255, 0.09);
}
.my-paginator__page-item.active:hover{
  background-color: rgba(41, 121, 255, 0.22);
}
.my-paginator__page-item.disabled:hover{
  background-color: rgba(41, 121, 255, 0.02);
}

.my-paginator__nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.keyword__from{
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.keyword__from__selects{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.keyword-th{
  border-top-left-radius: 8px;
  max-width: 56px;
  width: 56px;
  padding: 0 8px !important;
}
.keyword__statistic_input{
  width: 180px;
  max-width: 180px;
}
.avatar{
  height: 48px !important;
  width: 48px !important;
  border-radius: 50%;
  background-color: #0b5ed7;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.v-app-bar__company-logo{
  text-transform: capitalize !important;
  font-size: 24px !important;
  margin: 0;
}
.v-table--density-default > .v-table__wrapper > table > thead > tr > th{
  background: #EEEEEE !important;
}
.log-in__section{
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  position: relative !important;
}
.log-in__card{
  position: absolute !important;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
  height: fit-content !important;
  padding: 32px !important;
  width: 30vw !important;
  gap: 16px !important;
  min-width: 423px !important;
}
.log-in__form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.errorlist{
  list-style-type: none;
  color: #FF1744;
  padding-right: 16px;
  font-weight: 700;
}
.errorlist.nonfield{
  color: #fff !important;
  background-color: #FF1744;
  text-align: center;
  font-weight: 400;
  padding: 16px;
  border-radius: 8px;
}
.table-checkbox{
  display: flex !important;
  width: fit-content !important;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto !important;
}
.table-checkbox .v-input--horizontal{
  display: flex !important;
  width: fit-content !important;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.table-checkbox .v-selection-control {
    min-height: 0px !important;
}
.table-checkbox .v-input__details{
  display: none;
}
.dashboard-campaign__export{
  width: 100px !important;
  max-width: 100px !important;
  max-height: 40px;
  height: 40px;
  align-self: flex-end;
  margin-top: 16px;
  right: 0;
}

.dashboard-campaign__export .v-input__details{
  display: none;
}
.dashboard-campaign__bottom-row{
  display: grid;
  grid-template-columns: 10fr 1fr;
}
.dashboard-campaign__bottom-pag{
  margin-left: 160px !important;
}

.dashboard-campaign__bts-row{
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 40px !important;
}
.dashboard-campaign__actions-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  gap: 24px;
  margin-top: 12px;
  width: 100%;
}
.dot-green{
  background-color: #4CAF50;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto;
}
.dot-red{
  background-color: #FF1744;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto;
}
.dot-gray{
  background-color: #BDBDBD;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto;
}
.dashboard-campaign__metrics-popup{
  width: 700px !important;
  display: flex;
  gap: 24px;
  padding-bottom: 0px !important;
  padding-top: 8px !important;
}
.search-input {
  width: 180px;
  display: flex;
  align-self: end;
}
.common-btn{
  height: 40px !important;
}
.v-data-table__th--sortable{
  height: 40px !important;
}
.v-data-table-header__content span{
  white-space: nowrap !important;
}
.filters-row{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.filters-condition-item__select{
  max-width: 140px !important;
  max-height: 40px !important;
}
.filters-condition-item__select span{
  max-height: 20px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.filters-filter-item__select .v-field__prepend-inner{
  max-height: 35px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.filters-filter-item__select span{
  display: none !important;
}
.filters-filter-item__select{
  max-height: 40px !important;
}
.filters-compare-item__select{
  max-width: 180px !important;
  max-height: 40px !important;
  min-width: 120px !important;
}
.filters-date-item__select {
  min-width: 180px !important;
}
.filters-date-item__select span{
  max-height: 20px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.filters-compare-item__select span{
  max-height: 20px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.filters-compare-item__multi-select{
  max-width: 220px !important;
}
.filters-date {
  max-width: 180px !important;
  max-height: 40px !important;
}
.filters-date span{
  max-height: 20px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.v-data-table__td{
  max-height: 40px !important;
  white-space: nowrap !important;
}
.common-input__wrapper{
  position: relative;
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.common-input__wrapper label{
  position: absolute;
  background-color: white !important;
  font-size: 12px;
  top: -8px;
  left: 16px;
  padding: 0px 4px;
}
.common-input__wrapper input{
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  padding: 2px 16px;
  min-width: 180px !important;
  height: 40px;
  color: #000;
}
.common-input__wrapper select{
  border: 1px solid black !important;
  border-radius: 8px;
  height: 40px;
  color: #000;
  width: 100%;
  padding: 2px 16px;
  min-width: 180px;
}
.common-input__wrapper textarea{
  border: 1px solid black;
  border-radius: 8px;
  height: 300px;
  width: 100%;
  padding: 16px;
}
.common-input__wrapper input[type="checkbox"]{
  height: 20px;
  width: 20px;
  min-width: 20px !important;
}
.common-input__wrapper span{
  font-size: 16px;
  line-height: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
.v-table th {
  white-space: nowrap;
}
.v-table td {
  white-space: nowrap;
}
.flex-table td{
  overflow: auto;
  resize: both;
  cursor: col-resize;
}
.static-dialog {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999999999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.32);
  display: flex;
  justify-content: center;
  align-items: center;
}
.static-card{
  position: unset !important;
  overflow: visible !important;
}
.static-section{
  position: unset !important;
  overflow: visible !important;
  height: 100vh !important;
}
.cb{
  display: flex !important;
  min-width: 40px !important;
  max-width: 40px !important;
  width: 40px !important;
  margin: 0px !important;
}
.flag{
  filter: grayscale(0.20);
}
.default-close-btn .v-btn__overlay,
.default-close-btn .v-btn__underlay{
  opacity: 0 !important;
  display: none !important;
}
.apexcharts-reset-icon {
   margin-left: 0px !important;
}
.filters-campaign-item__select {
  max-width: 180px !important;
}
.filters-campaign-item__select span{
  max-height: 20px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.preloader{
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.preloader-section{
  position: relative;
  min-height: 60vh;
}


