<v-app-bar>
    <v-btn variant="text" color="blue-accent-3" class="v-app-bar__company-logo" plain :ripple="false" href="{% url 'main' %}">MailSync</v-btn>
    <v-spacer></v-spacer>
<!--    -->
    <v-menu
      open-on-hover
    >
      <template v-slot:activator="{ props }">
        <v-btn variant="text" icon="mdi-dots-vertical" :ripple="false" v-bind="props"></v-btn>
      </template>

      <v-list class="v-app-bar__dropdown pa-0" nav>
        <v-list-item
          v-for="item in menuItems"
          :key="item.id"
          :append-icon="item.icon"
          :title="item.title"
          :value="item.value"
          active-class="text-blue-accent-3"
          class="px-4"
          tag="a"
          :href="item.to"
        >
        </v-list-item>
      </v-list>
    </v-menu>
</v-app-bar>
