<!doctype html>
<html lang="en">
<head>
    {% include 'head.html'%}
    {% block extra_head %}

    {% endblock %}
</head>
<body>
    <div id="app">

    </div>
    <script type="text/x-template" id="app-template">
      <v-card class="main" elevation="0">
          <v-layout>
            {% if '/login' not in request.path %}
            {% include 'app-bar.html' %}
            {% include 'navigation-drawer.html' %}
        {% endif %}
              <v-main>
                  {% block content %}
                  {% endblock %}
              </v-main>
          </v-layout>
      </v-card>
    </script>
    <script>

      const { createApp } = Vue;
      const { createVuetify } = Vuetify;

      const vuetify = createVuetify();
      const app = createApp({
          template: "#app-template",
          delimiters: ["[[", "]]"],
          components:{
              {% block components %}
              {% endblock %}
          },
          setup (){
              {% block setup %}

              {% endblock %}
          },
          data (){
              return{
                  {% include 'navigation-data.html'%}
                  {% block data %}

                  {% endblock %}
              }
          },
          methods: {
              {% include 'navigation-methods.html'%}
              {% block methods %}

              {% endblock %}
          },
          mounted (){
              {% block mounted %}

              {% endblock %}
          },
         beforeMount (){
              {% block beforeMount %}

              {% endblock %}
          },
          computed: {
              {% block computed %}

              {% endblock %}
          },
      })
      app.use(vuetify).mount("#app");

    </script>
{% block script %}
{% endblock %}
</body>

