<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %} CRM {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.7/dist/vuetify.min.css">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/templates/css/style.css">
<link rel="stylesheet" type="text/css" href="/templates/css/flag-icons.css">
<link rel="stylesheet" type="text/css" href="/templates/css/logo-icons.css">
<script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js">
</script>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.1.8/vuetify.min.js">
</script>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.1.8/vuetify-labs.esm.min.js">
</script>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.1.8/vuetify-labs.min.css">
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.1.8/vuetify-labs.min.js"
></script>

