{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="home__section">
    <v-list
      v-for="page in pages"
      :key="page.id"
      :value="page.value"
      :class="(page.subPages ? 'home__list':'d-none')"
      rounded="lg"
    >
      <template v-if="page.subPages">
        <v-list-item
          :prepend-icon="page.icon"
          :title="page.title"
          :key="page.id + 1"
          :value="page.value"
          class="home__list__header"
        ></v-list-item>
        <v-list-item
          v-for="subpage in page.subPages"
          :key="subpage.id"
          :prepend-icon="subpage.icon"
          :title="subpage.title"
          :value="subpage.value"
          tag="a"
          :href="subpage.to"
          class="v-list-item__default"
        ></v-list-item>
      </template>
    </v-list>
  </section>
{% endblock %}
