<v-navigation-drawer>
    <v-list>
      <v-list-item>
      <div class="d-flex flex-row">
          <div class="avatar">
          {% if user.first_name or user.last_name %}
              {{ user.first_name|make_list|first }}{{ user.last_name|make_list|first }}
          {% else %}
              {{ user.buyer}}
          {% endif %}
          </div>
          <div class="ml-4 pt-2">
          <h4>
              {% if user.first_name or user.last_name %}
                 {{ user.first_name }} {{ user.last_name }}
               {% else %}
                 {{ user.username }}
               {% endif %}
          </h4>
          </div>
      </div>

      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        :title="pages[0].title"
        :prepend-icon="pages[0].icon"
        tag="a"
        :value="pages[0].value"
        :href="pages[0].to"
        :class="('{{ request.path }}' === pages[0].to)?'text-blue-accent-3':''"
      ></v-list-item>
      <v-list-group
        v-for="page in pages"
        :key="page.id"
        :value="page.value"
      >
        <template
          v-if="page.subPages"
          v-slot:activator="{ props }"
        >
          <v-list-item
            :title="page.title"
            v-bind="props"
            :prepend-icon="page.icon"
            active-class="text-blue-accent-3"
            :class="('{{ request.path }}'.includes(page.to))?'text-blue-accent-3':''"
          ></v-list-item>
        </template>
        <v-list-item
          v-for="subpage in page.subPages"
          tag="a"
          :key="subpage.id"
          :title="subpage.title"
          :value="subpage.value"
          :href="subpage.to"
          active-class="bg-transparent"
          :class="('{{ request.path }}' === subpage.to)?'text-blue-accent-3':'v-list-item--inactive'"
        ></v-list-item>
      </v-list-group>
    </v-list>
</v-navigation-drawer>