<nav class="my-paginator__nav">
    <ul class="my-paginator">
        {% if page_obj.number != 1 %}
        <li class="my-paginator__page-item">
            <a target="_self"
               href="?page=1{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
               class="page-link fw-700"
               data-page="1"
            >
                «
            </a>
        </li>
        {% endif %}

        {% if page_obj.has_previous %}
        <li class="my-paginator__page-item">
            <a target="_self"
               href="?page={{ page_obj.previous_page_number }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% else %}{% endif %}{% endfor %}"
               class="page-link"
               data-page="1"
            >
                 <v-icon icon="mdi-chevron-left"></v-icon>
            </a>
        </li>
        {% else %}
            <li class="my-paginator__page-item disabled">
                <v-icon icon="mdi-chevron-left" color="rgba(41, 121, 255, 0.2)"></v-icon>
            </li>
        {% endif %}

        {% if page_obj.number|add:-2 > 0 %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.number|add:-2 }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number|add:-2 }}"
            >
                {{ page_obj.number|add:-2 }}
            </a>
        </li>
        {% endif %}

        {% if page_obj.number|add:-1 > 0 %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.number|add:-1 }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number|add:-1 }}"
            >
                {{ page_obj.number|add:-1 }}
            </a>
        </li>
        {% endif %}

        <li class="my-paginator__page-item active">
            <a
                    target="_self"
                    href="{{request.path }}?page={{ page_obj.number }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number }}">
                {{ page_obj.number }}
            </a>
        </li>

        {% if page_obj.number|add:+1 < page_obj.paginator.num_pages %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.number|add:+1 }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number|add:+1 }}"
            >
                {{ page_obj.number|add:+1 }}
            </a>
        </li>
        {% endif %}

        {% if page_obj.number|add:+2 < page_obj.paginator.num_pages %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.number|add:+2 }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number|add:+2 }}"
            >
                {{ page_obj.number|add:+2 }}
            </a>
        </li>
        {% endif %}

        {% if page_obj.paginator.num_pages > 10 and page_obj.number != page_obj.paginator.num_pages %}
        <li class="my-paginator__page-item disabled">
            <p>...</p>
        </li>
        {% endif %}

        {% if page_obj.number|add:+10 < page_obj.paginator.num_pages %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.number|add:+10 }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number|add:+10 }}"
            >
                {{ page_obj.number|add:+10 }}
            </a>
        </li>
        {% endif %}

        {% if page_obj.number|add:+20 < page_obj.paginator.num_pages %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.number|add:+20 }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.number|add:+20 }}"
            >
                {{ page_obj.number|add:+20 }}
            </a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="my-paginator__page-item">
            <a
                    target="_self"
                    href="?page={{ page_obj.next_page_number }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                    class="page-link"
                    data-page="{{ page_obj.next_page_number }}">
                <v-icon icon="mdi-chevron-right"></v-icon>
            </a>
        </li>
        {% else %}
            <li class="my-paginator__page-item disabled">
                <v-icon icon="mdi-chevron-right" color="rgba(41, 121, 255, 0.2)"></v-icon>
            </li>
        {% endif %}

        {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class="my-paginator__page-item">
             <a
                     target="_self"
                     href="?page={{ page_obj.paginator.num_pages }}{% for name, values in request.GET.lists %}{% if name != 'page' %}&{{ name }}={% for value in values %}{{ value }}{% endfor %}{% endif %}{% endfor %}"
                     class="page-link"
                     data-page="{{ page_obj.paginator.num_pages }}"
             >
                 »
             </a>
        </li>
        {% endif %}
    </ul>
</nav>
