{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/templates/css/log_list.css">
{% endblock %}
{% block content %}
 <section>
    <v-card elevation="0" rounded="lg" class="common-card">
      <h1>{% trans 'Logs' %}</h1>
      <form id="mainForm" class="logs__from">
        {% csrf_token %}
        <div class="logs__from__selects">
          <div class="common-input__wrapper logs__select_level">
              <label class="common-input__label">{% trans 'Level' %}</label>
              {{ filter.form.level }}
          </div>
          <div class="common-input__wrapper logs__select_source">
              <label class="common-input__label">{% trans 'Sender' %}</label>
              {{ filter.form.sender }}
          </div>
        </div>
        <v-btn elevation="0"
               color="blue-accent-3"
               icon="mdi-filter"
               class="btn-filter"
               @click="filterLogs"
        ></v-btn>
      </form>
      <v-table class="mt-6 rounded-lg">
        <thead>
          <tr>
              <th v-for="(item,index) in tableHeaders" :key="tableHeaders">[[ item.title ]]</th>
          </tr>
        </thead>
        <tbody>
           {% for log in object_list %}
             <tr>
                 <td>
                     {% if log.user_id %}
                         <v-icon icon="mdi-account" class="ma-3"></v-icon>
                     {% else %}
                         <v-icon icon="mdi-account-multiple" class="ma-3"></v-icon>
                     {% endif %}
                 </td>
                 <td>
                     <div class="level-text text-{{ log.level }}">
                         {% if log.level == 0 %}
                             NOTEST
                         {% elif log.level == 10 %}
                             DEBUG
                         {% elif log.level == 20 %}
                             INFO
                         {% elif log.level == 30 %}
                             WARNING
                         {% elif log.level == 40 %}
                             ERROR
                         {% elif log.level == 50 %}
                             CRITICAL
                         {% endif %}
                     </div>
                 </td>
                 <td>
                     <p class="mx-4 mt-1">{{ log.sender }}</p>
                     <p class="mx-4 mb-1"><b>{{ log.title }}</b></p>
                 </td>
                 <td><p class="mx-4"><a href="/imapsync/mail/view/{{ log.mail_id }}">{{ log.mail_id }}</a></p></td>
                 <td><p class="mx-4">{{ log.datetime }}</p></td>
             </tr>
           {% endfor %}
        </tbody>
      </v-table>
      <div class="dashboard-campaign__bottom-row">
               <div class="dashboard-campaign__bottom-pag">
                   {% with page_obj=page_obj request=request %}
                       {% include 'paginator.html' %}
                   {% endwith %}
               </div>
               <v-btn
                       variant="outlined"
                       elevation="0"
                       size="large"
                       class="align-self-end"
                       prepend-icon="mdi-file-download-outline"
               >
                   CSV
               </v-btn>
           </div>
    </v-card>
  </section>
{% endblock %}
{% block data %}
    mainForm: document.getElementById('mainForm'),
    tableHeaders: [
        {title: '', key: 'id'},
        {title: '{% trans 'Level' %}', key: 'level'},
        {title: '{% trans 'Sender' %}', key: 'sender'},
        {title: '{% trans 'Mail ID' %}', key: 'mail_id'},
        {title: '{% trans 'Date' %}', key: 'datetime'},
    ],
{% endblock %}
{% block mounted %}
{% endblock %}
{% block methods %}
    filterLogs () {
       mainForm.method="GET"
       mainForm.action = "{% url 'logs_list' %}"
       mainForm.submit()
    },
{% endblock %}